Phase 1: DATA INGESTION

Import libraries

In [1]:
import pandas as pd
import numpy as np

Load the Online Retail Excel file using pandas

In [3]:
df = pd.read_excel("Online Retail Data Set.xlsx")

Review the raw structure using `.head()`, `.shape()`, `.describe()`, and `.info()`

In [6]:
df.head()         # preview top rows
df.shape         # rows and columns
df.info()         # data types & missing data
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

Convert the InvoiceDate column into a proper datetime format.

In [7]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

Ensure all text fields (e.g., Country, Description) are correctly typed as string/object

In [8]:
df['Description'] = df['Description'].astype(str)
df['Country'] = df['Country'].astype(str)

Phase 2: DATA STORAGE (SQL Layer)

Create a PostgreSQL table to store the raw Online Retail dataset.

In [12]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:56789@localhost:5432/retail_db"
)

Load the raw data into the SQL database using SQLAlchemy.

In [ ]:
df.to_sql(
    "online_retail",
    con=engine,
    schema="retail",
    index=False
)

909

Confirm table creation, data types, and row counts

In [16]:
# Count rows
test = pd.read_sql("SELECT COUNT(*) FROM retail.online_retail", engine)
print(test)

    count
0  541909

In [ ]:
# Preview samole rows
pd.read_sql("SELECT * FROM retail.online_retail LIMIT 5", engine)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

PHASE 3 — DATA PREPARATION (CLEANING & TRANSFORMATION)

1. Quantity Validation

Any quantity below 1 is invalid (returns, errors).

In [42]:
# Configuration
import os
DB_CONN = "postgresql+psycopg2://postgres:56789@localhost:5432/retail_db"
RAW_EXCEL_PATH = "Online Retail Data Set.xlsx"
OUTPUT_FOLDER = "outputs"
CLEAN_CSV_PATH = f"{OUTPUT_FOLDER}/online_retail_clean.csv"

SCHEMA = "retail"
CLEAN_TABLE = "online_retail_clean"

# Create outputs folder if missing
os.makedirs(OUTPUT_FOLDER, exist_ok=True)

In [43]:
# 1.Load Raw Data
df = pd.read_excel("Online Retail Data Set.xlsx")
print("Loaded raw data:", df.shape)

Loaded raw data: (541909, 8)

Data Cleaning

In [44]:
# Convert InvoiceDate → datetime
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

In [45]:
# Trim whitespace for all relevant text columns
text_columns = ["InvoiceNo", "StockCode", "Description", "CustomerID", "Country"]
for col in text_columns:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip()

In [46]:
# Fix CustomerID nulls
df["CustomerID"] = df["CustomerID"].replace(["nan", "None", ""], pd.NA)

In [47]:
# Quantity Validation
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df = df[df["Quantity"] > 0]

In [48]:
# Unit Price Validation
df["UnitPrice"] = pd.to_numeric(df["UnitPrice"], errors="coerce")
df = df[df["UnitPrice"] >= 0]

In [49]:
# Remove Cancelled Invoices (InvoiceNo starts with 'C')
df = df[~df["InvoiceNo"].str.upper().str.startswith("C")]

In [50]:
# Remove rows with missing CustomerID
df = df[df["CustomerID"].notna()]

In [51]:
# Remove duplicates
df = df.drop_duplicates()

In [52]:
# Add new fields
df["Revenue"] = df["Quantity"] * df["UnitPrice"]
df["Year"] = df["InvoiceDate"].dt.year
df["Month"] = df["InvoiceDate"].dt.strftime("%b")
df["Day"] = df["InvoiceDate"].dt.day

# Clean column names (lowercase + underscores)
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

print("Cleaned data:", df.shape)

Cleaned data: (392732, 12)

In [53]:
# Save cleaned data
df.to_csv(CLEAN_CSV_PATH, index=False)
print("Saved cleaned CSV →", CLEAN_CSV_PATH)

Saved cleaned CSV → outputs/online_retail_clean.csv

In [54]:
# Save cleaned data to postgres
engine = create_engine(DB_CONN)
df.to_sql(
    CLEAN_TABLE,
    con=engine,
    schema=SCHEMA,
    if_exists="replace",
    index=False
)

732

In [55]:
# Count rows
test = pd.read_sql("SELECT COUNT(*) FROM retail.online_retail_clean", engine)
print(test)

    count
0  392732

In [56]:
# Preview samole rows
pd.read_sql("SELECT * FROM retail.online_retail_clean LIMIT 5", engine)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,revenue,year,month,day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,Dec,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,Dec,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,Dec,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,Dec,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,Dec,1

PHASE 4 — DATA ANALYSIS (IN PYTHON ONLY)

1. Time Series (2011 Revenue by Month)

In [57]:
query = f"SELECT * FROM {SCHEMA}.{CLEAN_TABLE};"
df = pd.read_sql(query, engine)
print("Loaded rows:", len(df))
print(df.head())

Loaded rows: 392732
  invoiceno stockcode                          description  quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          invoicedate  unitprice customerid         country  revenue  year  \
0 2010-12-01 08:26:00       2.55    17850.0  United Kingdom    15.30  2010
1 2010-12-01 08:26:00       3.39    17850.0  United Kingdom    20.34  2010
2 2010-12-01 08:26:00       2.75    17850.0  United Kingdom    22.00  2010
3 2010-12-01 08:26:00       3.39    17850.0  United Kingdom    20.34  2010
4 2010-12-01 08:26:00       3.39    17850.0  United Kingdom    20.34  2010

  month  day
0   Dec    1
1   Dec    1
2   Dec    1
3   Dec    1
4   Dec    1

In [58]:
# Filter data for Year = 2011
# Group by month and calculate revenue totals
# Identify seasonal patterns or month-to-month changes
df_2011 = df[df["year"] == 2011]

revenue_monthly_2011 = (
    df_2011.groupby(["month"], as_index=False)
    .agg(total_revenue=("revenue", "sum"))
    .sort_values("month")
)

print("\n2011 Monthly Revenue")
print(revenue_monthly_2011)

2011 Monthly Revenue
   month  total_revenue
0    Apr     468374.331
1    Aug     644051.040
2    Dec     517190.440
3    Feb     446084.920
4    Jan     568101.310
5    Jul     598962.901
6    Jun     660046.050
7    Mar     594081.760
8    May     677355.150
9    Nov    1156205.610
10   Oct    1035642.450
11   Sep     950690.202

2. Country Performance (Excluding United Kingdom)

In [ ]:
# Rank countries by total revenue
# Identify the top 10 revenue-generating countries
# Compute both revenue and quantity sold
df_non_uk = df[df["country"] != "United Kingdom"]

country_performance = (
    df_non_uk.groupby("country", as_index=False)
    .agg(
        total_revenue=("revenue", "sum"),
        total_quantity=("quantity", "sum")
    )
    .sort_values("total_revenue", ascending=False)
)

print("\nCountry Performance")
print(country_performance.head(10))

Country Performance (non-UK)
        country  total_revenue  total_quantity
23  Netherlands      285446.34          200937
10         EIRE      265262.46          140383
14      Germany      228678.40          119156
13       France      208934.31          111429
0     Australia      138453.81           84199
30        Spain       61558.56           27944
32  Switzerland       56443.95           30083
3       Belgium       41196.34           23237
31       Sweden       38367.83           36078
19        Japan       37416.37           26016

3. Top Customers by Revenue

In [60]:
# Rank all customers by total revenue
# Identify the top 10 highest-spending customers
top_customers = (
    df.groupby("customerid", as_index=False)
    .agg(total_revenue=("revenue", "sum"))
    .sort_values("total_revenue", ascending=False)
    .head(10)
)

print("\nTop 10 Customers by Revenue")
print(top_customers)

Top 10 Customers by Revenue
     customerid  total_revenue
1690    14646.0      280206.02
4202    18102.0      259657.30
3729    17450.0      194390.79
3009    16446.0      168472.50
1880    14911.0      143711.17
55      12415.0      124914.53
1334    14156.0      117210.08
3772    17511.0       91062.38
2703    16029.0       80850.84
0       12346.0       77183.60

4. Global Product Demand

In [61]:
# Compute total quantity sold per country
# Remove the United Kingdom
# Rank countries by demand and highlight high-opportunity markets
product_demand = (
    df_non_uk.groupby("country", as_index=False)
    .agg(total_quantity=("quantity", "sum"))
    .sort_values("total_quantity", ascending=False)
)

print("\nGlobal Product Demand")
print(product_demand)

Global Product Demand
                 country  total_quantity
23           Netherlands          200937
10                  EIRE          140383
14               Germany          119156
13                France          111429
0              Australia           84199
31                Sweden           36078
32           Switzerland           30083
30                 Spain           27944
19                 Japan           26016
3                Belgium           23237
24                Norway           19338
26              Portugal           16095
12               Finland           10704
6        Channel Islands            9485
9                Denmark            8235
18                 Italy            8112
7                 Cyprus            6340
29             Singapore            5241
1                Austria            4881
17                Israel            4043
25                Poland            3684
5                 Canada            2763
33                   USA            2458
16               Iceland            2458
35           Unspecified            1785
15                Greece            1557
34  United Arab Emirates             982
22                 Malta             970
8         Czech Republic             671
21             Lithuania             652
11    European Community             499
20               Lebanon             386
4                 Brazil             356
27                   RSA             352
2                Bahrain             260
28          Saudi Arabia              80

In [62]:
revenue_monthly_2011.to_csv("outputs/revenue_monthly_2011.csv", index=False)
country_performance.to_csv("outputs/country_performance.csv", index=False)
top_customers.to_csv("outputs/top_customers.csv", index=False)
product_demand.to_csv("outputs/global_product_demand.csv", index=False)